<html>

<head>
    <link rel="stylesheet" href="/public/stylesheets/macys-base.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
    </script>
    <script type="text/javascript" src="/public/scripts/isInViewport.min.js">
    </script>
    <style>
    table {
        width: 100%;
    }
    
    .hidebutton {
        display: none;
    }
    
    .urlblock {}
    
    .showbutton {
        display: inline-block;
    }
    
    .tabs {
        background-color: #EEE;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 32px;
        width: 100%;
    }
    /* line 126, ../../../../src/mcom/components/_tabs.scss */
    
    .tabs > li {
        width: 50%;
        float: left;
        height: 60px;
        border: 1px solid #CCC;
        border-left: none;
        overflow: hidden;
        position: relative;
        font-size: 12px;
        text-align: center;
        padding-top: 7px;
        cursor: pointer;
        background-color: #EEE;
    }
    /* line 138, ../../../../src/mcom/components/_tabs.scss */
    
    .tabs > li.selected {
        background-color: #FFF;
        border-bottom: 2px solid red;
        font-weight: bold;
    }
    /* line 143, ../../../../src/mcom/components/_tabs.scss */
    
    .tabs > li:last-child {
        /* border-right: none;*/
    }
    /* line 146, ../../../../src/mcom/components/_tabs.scss */
    
    .tabs > li > a {
        width: 100%;
        height: 100%;
        display: inline-block;
        text-decoration: none;
        font-size: 2em;
    }
    
    .tabs-content .content {
        display: none;
    }
    
    .tabs-content .active {
        display: block;
        background-color: #F7F7F7;
    }
    
    #globalSearchInputField {
        width: 40%;
    }
    
    .userimage {
        border-radius: 50%;
        height: 54px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .userContainer {
        margin-top: 80px;
        background: #fff;
        height: auto;
        border-radius: 10px;
    }
    
    .userdetails {
        line-height: 50px;
    }
    .comment{
      margin-top: 61px;
    margin-bottom: 30px;
    color:gray;
    }
    .commentArea{
      margin-bottom: 70px;
    }
    .loops{
          font-size: 21px;
    line-height: 75px;
    }
    
    video {
        width: 100%;
    }
    </style>

</head>


<body>
    <div class="row">
        <div class="large-16 columns">
            <header id="globalMastheadContainer" style="height: 100px;">

                <div id="globalMastheadSearchMenu">
                    <div id="globalMastheadBrandLogo" class="left">
                        <a target="_top" href="/">
                            <div id="macysHomePageLogo" class="globalMastheadLogo" alt="Macy's" title="Macy's"></div>
                        </a>

                    </div>
                    <div class="right">
                      <a target="_top" href="/upload">
                            <img src="/public/image/videoUpload.jpeg" alt="Smiley face" height="42" width="80">
                        </a>
                    </div> 
                </div>
            </header>
        </div>
    </div>
    <div class="row">
        <div id="topNav" class="large-16 small-16 columns">
            <ul class="tabs">
                <li class="tab-title active selected"><a href="#panel1">Women</a></li>
                <li class="tab-title"><a href="#panel2">Men</a></li>
            </ul>
            <div class="tabs-content">
                <div class="content active" id="panel1">
                    <% womenposts.forEach(function(womanpost) { %>
                        <div class="row">
                            <div class="small-16 medium-14 medium-centered columns userContainer">
                                <div class="row rowTop">
                                    <div class="userimage small-1 small-offset-1 columns">
                                        <img src="<%= womanpost.profile %>">
                                    </div>
                                    <div class="userdetails small-12 small-offset-1 columns">
                                        <%= womanpost.user %>
                                    </div>
                                     <div class="loops small-1  columns">
                                      <%= womanpost.loops %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-16 columns">
                                        <video autobuffer controls loop>
                                            <source id="mp4" src="<%= womanpost.filename %>">
                                        </video>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="comment small-10 small-centered  columns">
                                      <a href="/comment">
                                       <img src="/public/image/comment.png" alt="Smiley face" height="42" width="42">
                                      </a>
                                      <div class="right">
                                        <a href="<%= womanpost.shopUrl %>">
                                        <button class="tiny">Shop Now</button> 
                                      </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="content" id="panel2">
                    <% menposts.forEach(function(manpost) { %>
                        <div class="row">
                            <div class="small-16 medium-14 medium-centered columns userContainer">
                                <div class="row rowTop">
                                    <div class="userimage small-1 small-offset-1 columns">
                                        <img src="<%= manpost.profile %>">
                                    </div>
                                    <div class="userdetails small-12 small-offset-1 columns">
                                        <%= manpost.user %>
                                    </div>
                                     <div class="loops small-1  columns">
                                      <%= manpost.loops %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-16 columns">
                                        <video autobuffer controls loop>
                                            <source id="mp4" src="<%= manpost.filename %>">
                                        </video>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="comment small-10 small-centered  columns">
                                      <a href="/comment">
                                       <img src="/public/image/comment.png" alt="Smiley face" height="42" width="42">
                                      </a>
                                      <div class="right">
                                        <a href="<%= manpost.shopUrl %>">
                                        <button class="tiny">Shop Now</button> 
                                      </div>  
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $(".tabs li").click(function() {
            $(".tabs li").removeClass("selected");
            $(this).addClass("selected");
            var test = $(this).find("a").attr("href");
            $(".tabs-content").children(".content").removeClass("active")
            $(".tabs-content").find(test).addClass("active")

        });
       var testloop=true;
       $(window).scroll(function() {
          $('video').each(function() {

              if ($(this).is(":in-viewport( 400 )")) {
                   var ele=$(this).parent().parent().parent().find(".loops");
                  
                  var loopValue=ele.html()
                  loopValue= parseInt(loopValue);
                  loopValue=loopValue+1;
                  ele.html(loopValue);
                 
                  $(this)[0].play();
              } else{
                  // testloop=true;
                   $(this)[0].pause();
                   testloop=true;
              }
          });
      });
    });
    </script>
</body>

</html>
